@import url(http://fonts.googleapis.com/css?family=Raleway:400);

body {
    margin: 0 0 0 0;
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    position: static;
}

p {
    font-size: 14px;
}
#top-bar-right {
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 12px;
    top: 0;
    background-color: #dddddd;
    z-index: 10;
}

#top-bar-left {
    background-color: #dddddd;
    margin: auto;
    padding: 10px;
    border: #333 solid thin;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 11;
    text-align: center;
}

#read-frame {
    border: 0 none;
    display: block;
    height: 100%;
    margin: auto;
    overflow: auto !important;
    padding: 0 !important;
    position: absolute;
    width: 100%;

}

#read-container {
    z-index: 1;
}



/* -----------------------------------------
   Shared Styles
----------------------------------------- */

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    color: #333;
}
h1 {
    font-size: 72px;
}

h3 {
    font-size: 32px;
}

.header {
    text-align: center;
}

.header p {
    font-size: 130%;
    font-family: 'Raleway', sans-serif;
}

hr {
    border-color: #bbb;
}


.header-link {
    text-align: center;
    margin-bottom: 10px;
    margin-top:7px;

}

.header-link a {
    color: #333;
}



.header-link a:hover {
    color: #555;
}

#jump-field {
    width: 40px;
    display: inline;
    margin: 0;
    padding: 0;
}

#jump-form {
    margin-top: 10px;
    margin-bottom: 5px;
}

#bar-text {
    cursor: pointer;
}

footer {
    margin-bottom: 20px;
}

img.toolbar-img {
    float:right;
}

.comic {
    margin-bottom: 20px;
}

img.jump-image {
    margin-left: auto;
    margin-right:auto;
    display: block;
}