{% extends 'base.html' %}
{% block title %}404 Error | Comic Sync{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div id="top-bar-right">{{ user.email }} (<a href="{% url logout %}" class="browserid-logout">Logout</a>)</div>
    {% endif %}

    <div class="row">
        <div class="twelve columns">
            <div class="header">
                <h1>404 Error</h1>
                <p>You've found your way to a page which doesn't exist.</p>
                <p><a href="/">Return home</a></p>
            </div>
        </div>
    </div>
{% endblock %}