{% extends 'base.html' %}
{% block title %}500 Error | Comic Sync{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div id="top-bar-right">{{ user.email }} (<a href="{% url logout %}" class="browserid-logout">Logout</a>)</div>
    {% endif %}

    <div class="row">
        <div class="twelve columns">
            <div class="header">
                <h1>500 Error</h1>
                <p>Something went wrong while processing that page. Refresh to try again, or just <a href="/">Return home</a></p>
            </div>
        </div>
    </div>
{% endblock %}