{% extends 'index.base.html' %}


{% block maincontent %}


    <div class="row">
        <div class="twelve columns">
            <h3>Available Comics</h3>
            {% for comic in comics %}
                {% if forloop.counter0|divisibleby:"3" %}<div class="row">{% endif %}
                <div class="four columns comic end">
                    <a href="{{ comic.homepage }}"><img src="{{ STATIC_URL }}{{ comic.image_url }}"/></a>
                    <h4><a href="{{ comic.homepage }}">{{ comic.name }}</a></h4>
                </div>
                {% if forloop.last or forloop.counter|divisibleby:"3" %}</div>{% endif %}
            {% endfor %}


            <h3>How it works</h3>
            <div class="row">
                <div class="six columns">
                    <p>Comic Sync loads your comic in the background and provides an alternative navigation
                        toolbar which saves your progress automatically. You can then easily pick back up
                        where you left off, without worrying about bookmarks or writing down page numbers.</p>
                    <p>Comic Sync is built with Django and Foundation, and uses Mozilla Persona for login.</p>
                </div>

                <div class="six columns">
                    <img src="{{ STATIC_URL }}img/syncpage.png" class="toolbar-img">
                </div>
            </div>
        </div>

    </div>
{% endblock %}