{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/persona-buttons.css"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div id="top-bar-right">{{ user.email }} (<a href="{% url logout %}" class="browserid-logout">Logout</a>)</div>
    {% endif %}

    <div class="row">
        <div class="twelve columns">
            <div class="header">
                <h1>Comic Sync</h1>

                <p>Save and load your position in a webcomic from any device.</p>
                {% if not user.is_authenticated %}
                    <a class="browserid-login persona-button dark" href="#" data-site-name="Comic Sync"><span>Sign in with your Email</span></a>
                {% endif %}
            </div>
            <hr/>


        </div>
    </div>

    {% block maincontent %}{% endblock %}



    <div class="row">
        <div class="twelve columns">
            <hr/>
            <footer>
                Site by <a href="http://www.timsergeant.com/">Tim Sergeant</a>, December 2012.
                Source available on <a href="https://bitbucket.org/tgsergeant/comicsync/">Bitbucket</a>.
            </footer>
        </div>
    </div>
{% endblock %}