{% extends 'base.html' %}
{% block title %}{{ comic.name }} | Comic Sync{% endblock %}
{% block content %}
    <div id="top-bar-left">
        <h4 class="header-link"><a href="/">Comic Sync</a></h4>
        <a href="#" id="previous-btn">Back</a> |
        <span id="bar-text">Loading...</span>


        | <a href="#" id="next-btn">Next</a>
        <br/>
        <form id="jump-form" class="hide"><label for="jump-field">Jump to:</label><input id="jump-field" type="text" size="4"/></form>

    </div>
    <div id="read-container">
        <iframe id="read-frame"></iframe>
    </div>


{% endblock %}


{% block javascript %}
    <script src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
    <script src="{{ STATIC_URL }}js/read.js"></script>
    {% if first %}<script src="{{ STATIC_URL }}js/jquery.foundation.reveal.js"></script>{% endif %}
    <script>
        $(document).ready(function() {
            var page = {{ page }};
            {% autoescape off %}
                var base_url = '{{ comic.comic_base_url }}';
            {% endautoescape %}
            var machine_name = '{{ comic.machine_name }}';

            initRead(page, machine_name, base_url);
            {% if first %}$("#helpmodal").reveal();{% endif %}
        });
    </script>

    {% if first %}
        <div id="helpmodal" class="reveal-modal medium">
            <h2>Getting started with Comic Sync</h2>
            <p>Your comic will load in the background. Use the navigation buttons in the top left to change pages. (Don't use the comic's default navigation!)</p>
            <p>Your progress is automatically saved for next time you visit</p>
            <p>If you want to jump to a specific page, click the page number:</p>
            <img src="{{ STATIC_URL }}img/jump.png" class="jump-image" />
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <script>

        </script>
    {% endif %}

{% endblock %}