{% extends 'index.base.html' %}

{% block maincontent %}
    <div class="row">
        <div class="twelve columns">

            {% if syncs %}

                <h3>Synced Comics</h3>

                {% for synclocation in syncs %}
                    {% if forloop.counter0|divisibleby:"3" %}<div class="row">{% endif %}

                    <div class="four columns comic end">
                        {% url read synclocation.comic.machine_name as readurl %}

                        <a href="{{ readurl }}"><img src="{{ STATIC_URL }}{{ synclocation.comic.image_url }}"/></a>

                        <h4><a href="{{ readurl }}">{{ synclocation.comic.name }}</a></h4>

                        <p><strong>Current page:</strong> {{ synclocation.page }}<br />
                            <strong>Last read:</strong> {{ synclocation.updated }}</p>

                        <a href="{{ readurl }}">Continue Reading</a>
                    </div>

                    {% if forloop.last or forloop.counter|divisibleby:"3" %}</div>{% endif %}
                {% endfor %}

            {% endif %}


        {% if unread %}
            <h3>Unread Comics</h3>
            {% for unread_comic in unread %}
                {% if forloop.counter0|divisibleby:"3" %}<div class="row">{% endif %}
                <div class="four columns comic end">
                    {% url read unread_comic.machine_name as readurl %}
                    <a href="{{ readurl }}"> <img src="{{ STATIC_URL }}{{ unread_comic.image_url }}"/></a>
                    <h4><a href="{{ readurl }}">{{ unread_comic.name }}</a></h4>
                </div>
                {% if forloop.last or forloop.counter|divisibleby:"3" %}</div>{% endif %}
            {% endfor %}
        {% endif %}

        </div>
    </div>
{% endblock %}